# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build

# local environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# coverage
/coverage

# misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# local Supabase state
supabase/.branches
supabase/.temp

# generated exports
/exports
